.parallax {
    background-image: url("../images/welcome.jpg");
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
  margin-bottom: inherit;
}
#welcome{
  font-family: 'Overpass', sans-serif;
  font-size: 120px;
  text-align: center;
  color: #c0c0c0;
  background: none;
  width: 100%;
}

.container {
font-family: 'Overpass', sans-serif;
font-size: 32px;
}
.container ul li{
    font-family: 'Overpass', sans-serif;
    font-size: 32px;
}
#social{
  list-style: none;
  padding-top: 20px;
}
.social-logo{
  padding-top: 20px;
  width: 30%;
  float: left;
}

a{
  text-decoration-color: none;
}
@media only screen and (min-width : 360px) {
  #welcome{
    font-size: 80px;
  }
};
@media only screen and (min-width : 480px) {
  #welcome{
    font-size: 120px;
  }
};
@media only screen and (min-width : 768px) {
  #welcome{
    font-size: 180px;
  }
};
@media only screen and (min-width : 992px) {
  #welcome{
    font-size: 200px;
  }
   }
