.parallax {
    background-image: url("../images/welcome.jpg");
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
  font-family: 'Overpass', sans-serif;
  font-size: 120px;
  text-align: center;
  color: #32cd32;
  background: none;
}

.container ul li{
    font-family: 'Overpass', sans-serif;
    font-size: 32px;
    color: #FFD700;
    font-family: 'Hind Vadodara', sans-serif;
}
#social{
  list-style: none;
  padding-top: 20px;
}
.social-logo{
  padding-top: 20px;
  width: 30%;
  float: left;
}

a{
  text-decoration-color: none;
}
